@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }
 
    .batman{
        max-width: 90%; 
    }

}

@media screen and (min-width:701px){
    .descricao{
        width: 50%;
    }
    .batman{
        max-width: 50%;
    }
    .botao{
        width: 50%;
    }
}

